@import '@hi-ui/core-css/index.scss';

.page-form-with-stepper {
  background: $white;
  min-height: calc(100vh - 112px);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;

  &-content {
    padding: $spacer-5 $spacer-6;
  }

  .page-form-stepper {
    width: 480px;
    margin-bottom: 20px;
  }

  &-item {
    padding: 0 $spacer-6;
  }

  .stepper-container {
    width: 400px;
  }

  .photo-display {
    padding: 0;
  }

  .hi-form__title {
    margin-top: 0;
    font-size: $font-size-large;
    height: 47px;
    line-height: 47px;
    width: 100%;
  }

  &--footer {
    height: 64px;
    text-align: center;
    line-height: 64px;
    border-top: 1px solid #d8d8d8;
  }
}
