@import '@hi-ui/core-css/index.scss';

.page--form-with-stepper {
  background: $white;
  padding: $spacer-6;
  min-height: calc(100vh - 64px);
  box-sizing: border-box;

  .hi-form-item {
    padding: 0 $spacer-6;
  }

  .hi-form__title {
    display: flex;
    justify-content: space-between;
  }

  .stepper-container {
    width: 400px;
  }

  .photo-display {
    padding: 0;
  }

  legend {
    color: $black;
    font-size: $font-size-large;
  }

}
