@import '@hi-ui/core-css/index.scss';

.page--list-indicator {
  box-sizing: border-box;

  .indicator__container {
    padding: $spacer-6 0;
  }

  .indicator——type_container {
    display: flex;
    border-top: 1px solid $gray-light;
    padding: $spacer-5 $spacer-6;
    background: $white;
  }

  .indicator——type_item {
    height: 36px;
    width: 96px;
    border: 1px solid $gray-light;
    border-radius: 18px;
    font-size: $font-size-normal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: $spacer-6;
    background: $white;

    &.active {
      color: $white;
      background-color: get-color($palette-hiui, '50');
      border-color: get-color($palette-hiui, '50');
    }

    &:hover {
      color: $white;
      background-color: get-color($palette-hiui, '50');
      border-color: get-color($palette-hiui, '50');
    }
  }

  .indicator——item {
    padding: $spacer-5 0 0 $spacer-6;
    margin-bottom: $spacer-6;
    background: $white;
  }

  .indicator——item_header {
    padding-left: 11px;
    font-size: $font-size-large;
    // margin: $spacer-3 0;
    margin-bottom: $spacer-4;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      height: 15px;
      width: 3px;
      left: 0;
      top: 4.5px;
      background: get-color($palette-hiui, '50');
    }
  }
}
