$kitPrefix: 'hiui-componentkit' !default;

.#{$kitPrefix} {
  &-options {
    padding: 10px 24px;
    background-color: #fff;

    &-other-slot {
      display: flex;
      align-items: center;
    }
  }

  &-options-attachelement {
    display: inline-block;
    line-height: 16px;
    height: 16px;
    color: #383e47;
    cursor: pointer;
    margin-right: 10px;

    &:hover {
      color: #4284f5;
    }

    &-text {
      display: inline-block;
      margin: 0 4px;
    }

    .hi-icon {
      transition: 0.3s;
      font-size: 16px;
    }

    .icon-down-rotate180 {
      transform: rotate(180deg);
    }
  }

  &-options-content {
    box-sizing: border-box;
    background-color: #fbfbfb;
    padding: 12px 24px 20px 24px;
    transition: 0.3s;
    margin-top: 20px;
    height: 154px;

    &.hidden {
      transition: 0.3s;
      height: 0;
      padding: 0 24px;
      margin-top: 0;
      overflow: hidden;
    }

    .hi-form-item {
      margin-right: 10px;
      margin-bottom: 24px;
      width: 24%;
    }
  }
}
