.copy-container {
  position: fixed;
  right: 0;
  bottom: 120px;
  z-index: 99999;

  .copy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    padding: 0 12px 0 8px;
    border-radius: 50px 0 0 50px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    font-size: 24px;
    background: #2684fc;
    color: #fff;
    cursor: pointer;
    transform: translate3d(8px, 0, 0);
    transition: 0.3s ease-in-out, transform 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
      background: lighten($color: #2684fc, $amount: 6);
      transform: translate3d(0, 0, 0);
    }
  }
}

.code-modal {
  &.hi-modal {
    z-index: 99999;
  }

  i {
    cursor: pointer;
  }

  .hi-modal__dialog--large {
    width: fit-content;
    min-width: 800px;
    max-width: 75%;
  }

  .hi-modal__content {
    padding: 0;

    .hi-menu {
      padding: 0 12px;
    }
  }

  .code-container {
    max-height: calc(80vh - 200px);
    overflow: auto;
    background: #f8f8fe;
  }

  .hi-navmenu__list {
    padding: 0 16px !important;
  }

  pre {
    padding: 0 16px !important;
  }

  .hi-menu {
    .hi-menu__title-content {
      min-width: fit-content;
    }
  }

  .hi-menu-items {
    overflow-x: auto;
  }

  .hi-menu--horizontal .hi-menu-item {
    margin-right: 36px;
  }
}
