.page--loading {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;

  .loading-text {
    position: absolute;
    margin-top: 36px;
    margin-left: 10px;
    z-index: 10000;
    color: #999;
  }
}
