@import '@hi-ui/core-css/index.scss';

.form-with-table {
  background: $white;
  min-height: calc(100vh - 112px);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;

  &-content {
    padding: $spacer-5 $spacer-6;
  }

  &__title {
    margin-top: 0;
    font-size: $font-size-large;
    line-height: 24px;
    color: #333;
  }

  &__handle {
    height: 56px;
    line-height: 56px;
  }

  &--footer {
    height: 64px;
    text-align: center;
    line-height: 64px;
    border-top: 1px solid #d8d8d8;
  }
}
