.page--search {
  .search-box {
    width: 450px;
    margin: 200px auto;

    .search-guide {
      font-size: 18px;
    }
    .search-hot {
      margin-right: 15px; 
      cursor: pointer;
    }
  }

  .tab-box {
    max-width: 1100px;
    margin: 0 auto;
    .tab-content {
      padding-top: 20px;
      .tab-item {
        padding: 12px 24px;
        background: #FFFFFF;
        border: 1px solid #E0E1E2;
        cursor: pointer;

        .title {
          font-size: 16px;
          color: #383E47;
        }

        .detail {
          font-size: 14px;
          color: #82868C;
        }
      }
    }
  }
}