@import '@hi-ui/core-css/index.scss';

.page--form-gruop {
  background: $white;
  min-height: calc(100vh - 112px);
  box-sizing: border-box;
  padding: $spacer-5 $spacer-6;

  &-form__title {
    margin-top: 0;
    font-size: $font-size-large;
    line-height: 24px;
    color: #333;
  }

  .photo-display {
    padding: 0;
  }
}
