@import '@hi-ui/core-css/index.scss';

$borderRadius: 4px;

.page--list-flow-card{
    .top-part-container{
        background: $white;
        border-radius: $borderRadius;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0px 24px;

        .icon-search {
            color: get-color($palette-hiui, '50');
        }
    }

    .top-part-function-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .add-new-button{
        margin-left: 16px;
    }

    .top-part-title{
        font-size: 18px;
        color: #383E47;
        font-weight: bold;
    }
}