@import '@hi-ui/core-css/index.scss';

.page {
  &--gutter {
    margin: $spacer-6;
  }

  &--gutter--horizontal {
    margin-left: $spacer-6;
    margin-right: $spacer-6;
  }

  &--gutter--vertical {
    margin-top: $spacer-4;
    margin-bottom: $spacer-6;
  }

  &--toolbar--fixed {
    .block-filter__actions {
      position: fixed;
      top: $spacer-4;
      right: $spacer-4;
      z-index: 12;
    }
  }
}

// Patch

.hi-radio {
  height: auto !important;
  line-height: initial !important;
}

.checkboxs-group {
  display: flex;
}

.hi-tree .hi-tree-bar .hi-tree-checkbox {
  background-color: #fff;
}
