@import '@hi-ui/core-css/index.scss';

.page--list-task {
  box-sizing: border-box;

  .hi-card {
    width: 276px;
    height: 144px;
    background: $white;

    .hi-card__extra {
      font-size: $font-size-large;
      color: $black;
    }
  }

  .tasks--card-item {
    margin-bottom: $spacer-6;
    margin-right: $spacer-6;

    .icon-plus {
      font-size: 32px;
      color: $gray-dark;
    }
  }

  .tasks--card-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 25%;

    .hi-grid__col-6:nth-of-type(4n) .tasks--card-item {
      margin-right: 0;
    }
  }

  .tasks__container {
    margin-bottom: $spacer-6;
  }

  .hi-pagination__item {
    background: $white;
  }
}
