@import '@hi-ui/core-css/index.scss';

.block-filter-action {
  position: relative;
  cursor: pointer;

  & + & {
    margin-left: $spacer-2;
  }

  &__input {
    position: absolute;
    width: 150px;
    left: -150px;
  }

  &__search {
    button {
      border-left: none;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    .hi-input .hi-input__inner {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }
}
