@import '@hi-ui/core-css/index.scss';

.block-filter {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: $spacer-5;

  &__title {
    font-size: $font-size-large;
    color: #4A4A4A;
  }

  // Filter actions
  &__actions {
    position: absolute;
    right: 0;
    top: 8px;
    display: flex;
    align-items: center;

    .block-filter__title {
      flex: auto;
    }
  }

  // Filter tools
  &__tools {
    display: flex;
    padding-top: $spacer-2;
    padding-left: $spacer-2;
    padding-right: $spacer-2;
    color: get-color($palette-hiui, 'g100');
  }
}

// Block data view
.block-data {
  padding-bottom: $spacer-5;
  &--rowheight--small {
    .hi-table table tr {
      height: 40px;
    }
  }

  &--rowheight--middle {
    .hi-table table tr {
      height: 50px;
    }
  }

  &--rowheight--big {
    .hi-table table tr {
      height: 60px;
    }
  }
}
