@import '@hi-ui/core-css/index.scss';

.block-filter {
  position: relative;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: $font-size-large;
    color: #4a4a4a;
  }

  // Filter actions
  &__actions {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;

    .block-filter__title {
      flex: auto;
    }
  }

  // Filter tools
  &__tools {
    display: flex;
    //padding-left: $spacer-2;
    //padding-right: $spacer-2;
    color: get-color($palette-hiui, 'g100');
  }

  &__form {
    margin-bottom: $spacer-4;
  }
}

// Block data view
.block-data {
  &--rowheight--small {
    .hi-table table tr {
      height: 40px;
    }
  }

  &--rowheight--middle {
    .hi-table table tr {
      height: 50px;
    }
  }

  &--rowheight--big {
    .hi-table table tr {
      height: 60px;
    }
  }
}

// Block vertical view
.block-main {
  &--vertical {
    display: flex;

    .block-filter-tool__content {
      display: flex;
      flex-direction: column;
      flex: none;
      margin-right: $spacer-6;
    }

    .block-filter__form {
      margin-bottom: 0;
      flex: auto;
    }

    .block-data {
      flex: auto;
    }
  }
}
