@import '@hi-ui/core-css/index.scss';

.block-filter-form {
  position: relative;
  padding: $spacer-4;
  background: #f1f6ff;

  &__group {
    display: flex;
  }

  &__fields {
    flex: auto;
    display: flex;
    flex-wrap: wrap;
  }

  &__field {
    margin-right: $spacer-4;
    margin-bottom: $spacer-4;
  }

  &__manage {
    position: absolute;
    right: 16px;
    bottom: 16px;
    font-size: 14px;
    color: #383E47;
    cursor: pointer;

    .hi-icon {
      margin-right: 8px;
      font-size: 20px;
      vertical-align: middle;
    }
  }

  &__actions {
    margin-top: $spacer-4;
  }
}

.block-filter-field {
  &__label {
    margin-bottom: $spacer-2;
    font-size: $font-size-normal;
    color: #383E47;
  }
}

.block-field {
  & + & {
    margin-top: $spacer-4;
  }

  &__label {
    margin-bottom: $spacer-2;
    font-size: $font-size-normal;
    color: $black;
  }

  &__item {
    margin-bottom: $spacer-2;
    margin-right: $spacer-2;
    & + & {
      margin-left: 0;
    }
  }

  &__icon {
    margin-left: $spacer-1;
  }
}
