.hi-form-filter__action-search {
  position: absolute;
  width: 150px;
  left: -151px;
  top: -1px;
  input {
    width: 100%;
    height: 32px;
    padding: 5px 10px;
    border: 1px solid #999;
    border-right: none;
    box-sizing: border-box;
    outline: none;
  }
}