.page--portal {
  height: 100%;
  background-color: #f6f6f6;

  .portal--container {
    max-width: 1300px;
    margin: 0 auto;
  }

  .portal--item {
    &__header {
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      font-size: 16px;
    }
  }

  .shortcut, .business {
    padding: 24px;
    background: #FFFFFF;
    border: 1px solid #E0E1E2;
    color: #383E47;
    font-size: 16px;
  }

  .business--item {
    margin-left: 20px;
    &:not(:last-child) {
      margin-bottom: 24px;
    }

    &__title {
      &::before {
        display: block;
        position: absolute;
        top: 7px;
        left: -20px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: '';
      }
      &.success::before {
        background: #0DE629;
      }
      &.error::before {
        background: #EB5252;
      }
      &.warning::before {
        background: #FFD738;
      }
    }

    &__time, &__detail {
      font-size: 14px;
      color: #82868C;
    }
  }
}