@import '@hi-ui/core-css/index.scss';

.page--portal {
    margin: -$spacer-6;
    color: $white;
    min-height: calc(100vh - 64px);
    box-sizing: border-box;
    background-color: $black;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    .search-container{
        padding-top: 100px;
    }

    .search-guide{
        font-size: 24px;
    }

    $searchInputHeight: 42px;
    $searchInputRadius: 4px;

    .search-input{
        width: 524px;
        height: $searchInputHeight;
        border-radius: $searchInputRadius;
        overflow: hidden;
        
        // 去除input框的border
        .hi-input__inner {
            border: none;
        }
    }

    .search-button{
        width: $searchInputHeight;
        height: $searchInputHeight;
        border: none;
        position: relative;
        color: get-color($palette-hiui, '50');
        font-size: $font-size-h3;

        // 添加分割线
        &::after {
            position: absolute;
            content: '';
            display: block;
            width: 1px;
            height: 20px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background: $gray-light;
        }
    }

    .search-hot-word{
        margin-right: 12px;
        opacity: 0.6;
        cursor: pointer;

        &:hover{
            color: get-color($palette-hiui, '50');
            opacity: 1;
        }
    }
}