@import '@hi-ui/core-css/index.scss';

.page--portal {
  padding: $spacer-9 $spacer-6;
  min-height: calc(100vh - 64px);
  box-sizing: border-box;

  .portal--container {
    max-width: 1300px;
    margin: 0 auto;

    .search-btn {
      padding: 0 5px;
    }

    .icon-search {
      color: get-color($palette-hiui, '50');
      font-size: $font-size-h3;
    }
  }

  .portal--item {
    &__header {
      display: flex;
      align-items: center;
      font-size: $font-size-large;
    }
  }

  .short--cut__container {
    flex-wrap: wrap;

    .hi-card {
      height: 120px;
      background: $white;
      box-sizing: border-box;
      margin: $spacer-3 0;
      border: none;

      p {
        margin: 0;
        color: $gray-darker;
        font-size: $font-size-normal;
      }

      .short--cut__title {
        color: $black;
        margin-bottom: $spacer-3;
        font-size: $font-size-large;
      }
    }
  }

  .business {
    padding: 24px;
    background: $white;
    color: $gray-dark;
    font-size: $font-size-large;
    margin-top: $spacer-3;
    position: relative;

    .look--all__btn {
      margin-top: $spacer-5;
      font-size: $font-size-normal;
      display: block;
    }
  }

  .business--item {
    font-size: $font-size-normal;

    &:not(:last-child) {
      margin-bottom: $spacer-3;
      margin-top: $spacer-0;
    }

    &__title {
      color: $black;
    }

    &__title,
    &__action {
      line-height: 22px;
      padding-bottom: 2px;
    }

    &__time,
    &__detail {
      font-size: $font-size-small;
    }

    &__action {
      color: get-color($palette-hiui, '50');
      text-align: right;
    }
  }
}
