.page-basic-1 {
  margin-top: 12px;
  
  &__form {
    display: flex;
  }
  &__form-input {
    flex: auto;
    button {
      border-left: none;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      vertical-align: middle;
    }
    .hi-input {
      vertical-align: middle;
    }
    .hi-input .hi-input__inner {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }
  &__form-actions {
    flex: none;
  }

  .hi-tpl__add {
    margin-right: 8px;
  }
}