@import '@hi-ui/core-css/index.scss';

.page--list-header {
  display: flex;
  justify-content: space-between;
  font-size: $font-size-x-large;
  align-items: center;
  font-weight: $font-weight-semibold;
  padding: $spacer-5 $spacer-6;
  box-sizing: border-box;
  margin-bottom: $spacer-6;
  background: $white;

  &__title {
    padding-right: $spacer-4;
    margin-right: $spacer-2;
    border-right: 1px solid $gray-light;
  }

  .hi-dropdown {
    margin-bottom: 0 !important;
    padding: 0 8px !important;
  }

  .icon-search {
    color: get-color($palette-hiui, '50');
    font-size: $font-size-h3;
  }
}
