.hi-tpl__content{
  width: 100%;
  .hi-tree__container{
    width: 15%;
    display: inline-block;
    vertical-align: top;
  }
  .hi-table__container{
    width: 85%;
    display: inline-block;
    vertical-align: top;
  }
}