@import '@hi-ui/core-css/index.scss';

.page--detail-group {
  padding: 0 $spacer-6;
  min-height: calc(100vh - 64px);
  box-sizing: border-box;

  .detail-group__header {
    .row {
      &-01 {
        color: $gray-dark;
        height: 32px;
        align-items: center;
      }

      .spacer {
        margin: 0 10px;
      }

      &-02 {
        color: #383e47;
        margin-top: 0;
        align-items: center;
        height: 52px;
        padding: 0;
        margin-bottom: $spacer-3;
      }

      &-02 h2 {
        margin: $spacer-1 0;
      }
    }
  }

  .page--gutter {
    padding: $spacer-6 $spacer-6 0 $spacer-6;
  }

  .detail-group {
    &__card {
      background: $white;

      &:not(:nth-child(2)) {
        margin-top: $spacer-6;
      }

      .title {
        font-size: $font-size-large;
        border-bottom: 1px solid $gray-light;
        padding: 0 $spacer-6 $spacer-3;
        margin: -12px -24px 0 -24px;
      }

      .title:not(:first-child) {
        margin-top: $spacer-8;
      }

      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: $spacer-6 0;
      }

      li {
        display: flex;
      }
    }

    .detail-group__card--base li {
      width: 33%;
    }

    .detail-group__card--base li div:first-child {
      width: 110px;
      height: 100%;
      flex-shrink: 0;
      color: #999;
    }

    .detail-group__card--base li div:last-child {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: keep-all;
      width: calc(100% - 150px);
      line-height: 22px;
    }

    .detail-group__card--express {
      .card-list {
        display: flex;
      }

      .card-item {
        border: 1px solid $gray-light;
        padding: $spacer-6;
        width: 376px;
        flex-direction: column;
      }

      .card-item:not(:first-child) {
        margin-left: $spacer-6;
      }

      img {
        width: 80px;
        height: 80px;
        margin-right: $spacer-6;
        flex-shrink: 0;
      }

      .row-01 {
        font-size: $font-size-large;
      }

      .row-02 ul {
        flex-direction: column;
      }

      .row-02 li {
        width: 100%;
      }

      .row-02 div:first-child {
        width: 60px;
        margin-right: 16px;
        color: $spacer-4;
        flex-shrink: 0;
      }
    }

    &__table {
      padding: 0;
      margin-bottom: $spacer-6;

      .hi-navmenu__list {
        padding: 0 $spacer-6 !important;
      }

      .detail-group__table-container {
        padding: $spacer-6;
      }
    }
  }
}
