@import '@hi-ui/core-css/index.scss';

.page--detail-group {
  min-height: calc(100vh - 64px);
  box-sizing: border-box;

  .detail-group__header {
    margin-top: -$spacer-6;
    margin-left: -$spacer-6;
    margin-right: -$spacer-6;
    padding: $spacer-6;
    background-color: $white;

    .hi-breadcrumb {
      margin-left: -4px;
    }

    .row {
      &-01 {
        color: $gray-dark;
        align-items: center;
        line-height: 1;
      }

      .spacer {
        margin: 0 10px;
      }

      &-02 {
        color: #383e47;
        margin-top: $spacer-5;
        align-items: center;
        background-color: $white;
      }

      &-02 h2 {
        margin: $spacer-1 0;
      }
    }
  }

  .detail-group {
    &__card {
      background: $white;

      &:not(:nth-child(2)) {
        margin-top: $spacer-6;
      }

      .detail-basic__row {
        background: $white;
        font-size: $font-size-large;

        &:not(:first-child) {
          margin-top: $spacer-6;
        }
      }

      .hi-card {
        width: 100%;
      }

      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
      }

      li {
        display: flex;
      }
    }

    .detail-group__card--base {
      margin-top: $spacer-6;

      li {
        width: 33%;
        margin-top: $spacer-2;
        font-size: 14px;

        div:first-child {
          width: 110px;
          height: 100%;
          flex-shrink: 0;
          color: #999;
        }

        div:last-child {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-break: keep-all;
          width: calc(100% - 150px);
          line-height: 22px;
        }
      }
    }

    .detail-group__card--express {
      .card-list {
        display: flex;
        padding: 0;
      }

      .card-item {
        width: 376px;
      }

      .card-item:not(:first-child) {
        margin-left: $spacer-6;
      }

      .card-item__content {
        display: flex;
        padding-top: $spacer-3;

        img {
          margin-right: $spacer-6;
          width: 80px;
          height: 80px;
          border-radius: 100%;
          flex-shrink: 0;
        }

        ul {
          width: 100%;
          flex-direction: column;
          flex: 1;
          font-size: 14px;

          li:not(:first-child) {
            margin-top: $spacer-2;
          }

          span {
            word-break: break-word;
            white-space: pre-wrap;
          }

          span:first-child {
            margin-right: 16px;
            color: #999;
            flex-shrink: 0;
          }
        }
      }
    }

    &__table {
      padding: 0;
      margin-bottom: $spacer-6;

      .detail-group__table-container {
        padding: $spacer-6;
      }
    }
  }
}
