.page-basic-1 {
  margin-top: 12px;
  
  &__form {
    display: flex;
  }
  &__form-input {
    flex: auto;

    button {
      margin-left: -1px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      vertical-align: middle;
    }

    .hi-input {
      vertical-align: middle;
    }

    .hi-input .hi-input__inner {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__form-actions {
    flex: none;
  }

  .hi-tpl__add {
    margin-right: 8px;
  }
}