@import '@hi-ui/core-css/index.scss';

.page--dashboard {
  padding: $spacer-5;
  min-height: calc(100vh - 64px);
  box-sizing: border-box;

  .dashboard-title {
    font-size: $font-size-x-large;
    font-weight: $font-weight-bold;
  }

  .tag-btn {
    display: inline-block;
    width: 80px;
    height: 36px;
    border-radius: 18px;
    line-height: 36px;
    text-align: center;
    font-size: $font-size-normal;
    color: $black;
    margin-right: $spacer-6;
    border: 1px solid $gray-dark;
    background: $white;
    cursor: pointer;

    &:hover {
      border-color: get-color($palette-hiui, '50');
      color: get-color($palette-hiui, '50');
    }

    &.active {
      border-color: get-color($palette-hiui, '50');
      background: get-color($palette-hiui, '50');
      color: $white;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 96px;
    width: 100%;
    background: $white;

    &__amount {
      margin: 20px 0 0 0;
      font-size: $font-size-h3;
      font-weight: $font-weight-semibold;
      color: get-color($palette-hiui, '50');
    }

    &__name {
      margin-top: 6px;
      color: $black;
    }
  }

  .card {
    .hi-grid__col-12 & {
      flex-basis: 280px;
    }

    .hi-grid__col-8 & {
      flex-basis: 164px;
      height: 164px;
    }

    .hi-table {
      width: 100%;
    }

    &__canvas {
      box-sizing: border-box;
      width: 100%;
    }
  }
}
