@import '@hi-ui/core-css/index.scss';

.page--form-basic {
  background: $white;
  min-height: calc(100vh - 112px);
  box-sizing: border-box;

  .hi-form-item {
    padding: 0 $spacer-6;
  }

  .hi-form__title {
    font-size: $font-size-large;
    height: 47px;
    line-height: 47px;
    padding: 0 $spacer-6;
    border-bottom: 1px solid $gray-light;
    width: 100%;
  }

  .photo-display {
    padding: 0;
  }
}
