@import '@hi-ui/core-css/index.scss';

.page--detail-card {
  min-height: calc(100vh - 64px);
  box-sizing: border-box;

  .detail-card__header {
    margin-top: -$spacer-6;
    margin-left: -$spacer-6;
    margin-right: -$spacer-6;
    padding: $spacer-3 $spacer-6;
    background-color: $white;

    .hi-breadcrumb {
      margin-left: -4px;
    }

    .row {
      &-01 {
        color: $gray-dark;
        align-items: center;
        line-height: 1;
      }

      .spacer {
        margin: 0 10px;
      }

      &-02 {
        color: #383e47;
        margin-top: $spacer-5;
        align-items: center;
        background-color: $white;
      }

      &-02 h2 {
        margin: $spacer-1 0;
      }
    }
  }

  .detail-card__card {
    box-sizing: border-box;
    margin-top: $spacer-6;
    background: $white;

    .title {
      font-size: 16px;
      border-bottom: 1px solid #e7e7e7;
      padding: 0 24px 12px;
      margin: -12px -24px 0 -24px;

      &:not(:first-child) {
        margin-top: 32px;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      margin-top: $spacer-4;
    }

    li {
      display: flex;
      margin-top: 8px;
    }

    &--base {
      width: calc(100% - 384px - 24px);

      li {
        width: 50%;

        div {
          &:first-child {
            width: 110px;
            height: 100%;
            flex-shrink: 0;
            color: #999;
          }

          &:last-child {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: keep-all;
            width: calc(100% - 150px);
            line-height: 22px;
          }
        }
      }
    }

    &--record {
      width: 384px;
      flex-shrink: 0;
      margin-left: 24px;

      .hi-timeline {
        margin-top: $spacer-4;
      }
    }

    &--stepper {
      margin-top: 24px;

      .stepper {
        padding-top: 24px;
      }

      .form-title {
        font-size: 16px;
        // text-align: center;
        justify-content: center;
        padding: 24px 0 12px;
      }
    }
  }

  .detail-card__table-container {
    padding: $spacer-4 $spacer-6;

    .hi-tabs__header {
      font-size: 16px;
    }
  }
}

.usual-dropdown-button {
  margin-left: $spacer-2;

  .hi-btn {
    padding: 4px 6px 4px 8px;
  }

  .icon-down {
    display: none;
  }
}
