.hi-tpl-form-modal__container{
}

.modal-big-form-containe{
  display: flex;
  justify-content: space-between;
  padding: 30px 26px 0 26px;
  .form-left-column,
  .form-right-column{
    width: 50%;
  }
}