@import '@hi-ui/core-css/index.scss';

.page--form-group {
  background: $white;
  padding: $spacer-6;
  min-height: calc(100vh - 64px);
  box-sizing: border-box;
  color: $black;

  legend {
    color: $black;
    font-size: $font-size-large;
  }

  .photo-display {
    padding: 0;
  }
}
