$kitPrefix: 'hiui-componentkit' !default;

.#{hiui-componentkit}-custom {
  margin-right: 10px;

  &__attachele {
    display: inline-block;
    line-height: 16px;
    height: 16px;
    color: #383e47;
    cursor: pointer;

    &:hover {
      color: #4284f5;
    }

    &-text {
      display: inline-block;
      margin: 0 4px;
    }
  }
}

.#{hiui-componentkit}-custom__popper {
  &-content {
    background: #fff;
    box-shadow: 0 2px 8px 0 rgba(56, 62, 71, 0.1);
    border-radius: 2px;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;

    .custom {
      &__items {
        font-size: 14px;
        font-weight: 400;
        color: #383e47;
        padding: 12px 0;
        box-sizing: border-box;
      }

      &__item {
        display: flex;
        height: 30px;
        line-height: 30px;
        justify-content: space-between;
        align-items: center;
        padding: 0 12px;
        cursor: pointer;

        &:hover {
          background-color: #f0f5fe;
        }

        &-title {
          display: inline-block;
          padding-left: 6px;
        }
      }
    }
  }
}
