.hi-tpl-unfold__title{
  font-size: 14px;
  color: #4A4A4A;
  margin: 0 0 30px 16px;
  .hi-icon{
    color: #000000;
    padding-right: 14px;
  }
}
.hi-tpl-form__btnContainer{
  position: absolute;
  right: 0;
  top: 0;
}
.hi-tpl-form__vertical{
  .hi-tpl-form__title{
    padding: 0 26px;
    position: relative;
  }
}