.hi-tpl-form__doubleColumn{
  font-size: 14px;
  color: #4A4A4A;
  margin: 0 0 30px 16px;
  .hi-tpl-form__title{
    position: relative;
    padding: 20px 0;
  }
  .hi-tpl-form__btnContainer{
    position: absolute;
    right: 50px;
    top: 20px;
  }
  .form-container{
    display: flex;
    justify-content: space-between;
    padding: 30px 26px 0 26px;
  }
  .form-left-column,
  .form-right-column{
    width: 50%;
  }
}