.hi-tpl-form__doubleColumn{
  .hi-tpl-form__title{
    padding: 0 26px;
    position: relative;
  }
  .hi-tpl-form__btnContainer{
    position: absolute;
    right: 0;
    top: 0;
  }
  .form-container{
    display: flex;
    justify-content: space-between;
    padding: 30px 26px 0 26px;
  }
  .form-left-column,
  .form-right-column{
    width: 50%;
  }
}