@import "@hi-ui/core-css/index.scss";

.page--form-double-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $white;
  min-height: calc(100vh - 112px);
  box-sizing: border-box;

  .hi-form-item {
    padding: 0 $spacer-6;
  }

  .hi-form__title {
    font-size: $font-size-large;
    height: 47px;
    line-height: 47px;
    padding: 0 $spacer-6;
    border-bottom: 1px solid $gray-light;
    width: 100%;
  }

  .photo-display {
    padding: 0;
  }

  &__footer {
    height: 64px;
    text-align: center;
    line-height: 64px;
    border-top: 1px solid #d8d8d8;
  }
}
