@import '@hi-ui/core-css/index.scss';

.page--list-embeded {
  box-sizing: border-box;

  .hi-dropdown {
    width: 100px;
    padding: $spacer-2;
    font-size: $font-size-x-large;
    margin-bottom: 8px;
  }

  .list {
    box-sizing: border-box;
    padding: $spacer-5 $spacer-6;
    background: $white;

    .list-item__header {
      display: flex;
      align-items: center;
      font-size: $font-size-normal;
    }

    .list-item__info {
      color: $gray-darker;
      display: flex;
      padding-top: 2px;
      font-size: 12px;
    }

    .tag {
      margin-left: $spacer-2;
    }
  }

  .list-item {
    border-bottom: 1px solid $gray-lighter;
    padding: $spacer-5 0;

    &__content {
      display: flex;
    }

    &__separation {
      color: $gray-light;
    }
  }

  .list-item:first-child {
    padding: 0 0 $spacer-5 0;
  }
}
