@import '@hi-ui/core-css/index.scss';

.page--list-embeded {
  box-sizing: border-box;
  background: $white;
  min-height: calc(100vh - 64px);

  .page--list-header {
    height: 56px;
    display: flex;
    justify-content: space-between;
    font-size: $font-size-x-large;
    border-bottom: 1px solid $gray-light;
    align-items: center;
    font-weight: $font-weight-semibold;
    padding: $spacer-6;
    box-sizing: border-box;
    margin-bottom: $spacer-6;

    .search-btn {
      padding: 0 5px;
    }

    .icon-search {
      color: get-color($palette-hiui, '50');
      font-size: $font-size-h3;
    }

    .creat-btn {
      margin-left: $spacer-4;
      height: 30px;
    }
  }

  .hi-dropdown {
    width: 100px;
    padding: $spacer-2;
    font-size: $font-size-x-large;
  }

  .list {
    box-sizing: border-box;
    padding: $spacer-4 $spacer-6;
    background: #fff;

    .list-item__header {
      display: flex;
      align-items: center;
      font-size: $font-size-normal;
    }
    
    .list-item__info {
      color: $gray-darker;
      display: flex;
      padding-top: 2px;
    }

    .tag {
      margin-left: $spacer-4;
      border-radius: 9px;
      border: 1px solid;
      font-size: $font-size-small;
      padding: 0 $spacer-1;
    }
  }

  .list-item {
    border-bottom: 1px solid $gray-lighter;
    padding: $spacer-5 0;

    &__content {
      display: flex;
    }

    &__separation {
      color: $gray-light;
    }
  }

  .list-item:first-child {
    padding: 0 0 $spacer-5 0;
  }
}
