@import '@hi-ui/core-css/index.scss';

.page--detail-relevance {
  min-height: calc(100vh - 64px);
  box-sizing: border-box;

  .detail-relevance__header {
    margin-top: -$spacer-6;
    margin-left: -$spacer-6;
    margin-right: -$spacer-6;
    padding: $spacer-3 $spacer-6;
    background-color: $white;

    .hi-breadcrumb {
      margin-left: -4px;
    }

    .row {
      &-01 {
        color: $gray-dark;
        align-items: center;
        line-height: 1;
      }

      .spacer {
        margin: 0 10px;
      }

      &-02 {
        color: #383e47;
        margin-top: $spacer-5;
        align-items: center;
        background-color: $white;
      }

      &-02 h2 {
        margin: $spacer-1 0;
      }

      &-03 {
        padding-top: 4px;
        font-size: 12px;
        color: #999;
      }

      &-03 .spacer {
        margin: 0 20px;
        color: $gray-light;
      }

      &-03 div:last-child .spacer {
        display: none;
      }
    }
  }

  .detail-relevance__card {
    background: $white;
    padding: 0;
    margin-top: $spacer-6;

    &:not(:nth-child(2)) {
      margin-top: $spacer-6;
    }

    .title {
      font-size: $font-size-large;
      border-bottom: 1px solid $gray-light;
      padding: 0 $spacer-6 $spacer-3;
      margin: -12px -24px 0 -24px;

      &:not(:first-child) {
        margin-top: 32px;
      }
    }

    .hi-card {
      width: 100%;
      padding-top: $spacer-5;
    }

    .detail-group__table-container {
      .hi-tabs__header {
        font-size: 16px;
      }
    }

    &--base {
      list-style: none;
      padding-top: $spacer-6;
      font-size: 16px;
      width: 100%;
      flex-direction: column;
      flex: 1;

      li {
        display: flex;
        margin-top: 8px;
        line-height: 22px;
        font-size: 14px;
      }

      li:not(:first-child) {
        margin-top: $spacer-2;
      }

      span {
        word-break: break-word;
        white-space: pre-wrap;
      }

      span:first-child {
        margin-right: $spacer-4;
        width: 110px;
        color: #999;
        flex-shrink: 0;
      }

      span:last-child {
        width: 68%;
      }
    }
  }
}

.usual-dropdown-button {
  margin-left: $spacer-2;

  .hi-btn {
    padding: 4px 6px 4px 8px;
  }

  .icon-down {
    display: none;
  }
}
