@import '@hi-ui/core-css/index.scss';

.hiui-toolbar {
  margin-right: $spacer-6;
  display: flex;
  flex-direction: row no-wrap;
  align-items: center;

  &__item {
    margin-left: $spacer-6;

    .hi-btn {
      padding-left: 0;
      padding-right: 0;
      margin: 0;
      color: inherit;
    }
  }
}

// FIXME: 修正 @hi-ui/component-kit 所带来的BUG，后续需要删除此部分
.hi-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 1000;
}
