.hi-pro-content-header {
  background-color: #fff;
  box-sizing: border-box;
  padding: 10px 20px;

  &__title {
    font-size: 18px;
    font-weight: 600;
    color: #1f2733;
    line-height: 32px;
    margin: 0;
    padding: 0;
  }
}
