@import '@hi-ui/core-css/index.scss';

.page--detail-basic {
  min-height: calc(100vh - 64px);
  box-sizing: border-box;

  .detail-basic__header {
    margin-top: -$spacer-6;
    margin-left: -$spacer-6;
    margin-right: -$spacer-6;
    padding: $spacer-6;
    background-color: $white;

    .hi-breadcrumb {
      margin-left: -4px;
    }

    .row {
      &-01 {
        color: $gray-dark;
        align-items: center;
        line-height: 1;
      }

      .spacer {
        margin: 0 10px;
      }

      &-02 {
        color: #383e47;
        margin-top: $spacer-5;
        align-items: center;
        background-color: $white;
      }

      &-02 h2 {
        margin: $spacer-1 0;
      }

      &-03 {
        padding-top: 4px;
        font-size: 12px;
        color: #999;
      }

      &-03 .spacer {
        margin: 0 20px;
        color: $gray-light;
      }

      &-03 div:last-child .spacer {
        display: none;
      }
    }
  }

  .detail-basic__body {
    margin-top: $spacer-6;

    .hi-card {
      width: 100%;
    }

    .detail-basic__row {
      background: $white;
      font-size: $font-size-large;

      &:not(:first-child) {
        margin-top: $spacer-6;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0 0 $spacer-3 0;
    }

    li {
      display: flex;
      margin-top: 8px;
      line-height: 22px;
      font-size: 14px;
    }

    li div:first-child {
      width: 96px;
      height: 100%;
      flex-shrink: 0;
      color: #999;
    }

    li div:last-child {
      width: 68%;
      word-break: break-word;
      white-space: pre-wrap;
    }
  }
}

.usual-dropdown-button {
  margin-left: $spacer-2;

  .hi-btn {
    padding: 4px 6px 4px 8px;
  }

  .icon-down {
    display: none;
  }
}
